body {
  min-height: 3000px;
}
.jumbotron {
  padding: 2rem 1rem;
  background-image: url('gambar/bgjumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #e2edff; */
}
